{% extends 'base.html' %}
{% load static %}
{% block content %}
      <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            {% for allpost in allpost.all %}
                                <article class="blog_style1">
                                    <div class="blog_img">
                                        <img class="img-fluid" src={% static "home/img/lion3.jpeg" %} alt="">
                                    </div>
                                    <div class="blog_text">
                                        <div class="blog_text_inner">
                                            <a class="cat" href="#">{{allpost.author}}</a>
                                            <a href="single-blog.html"><h4>{{allpost.question}}</h4></a>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                            <div class="date">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{allpost.pub_date}}</a>
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{allpost.answer}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                            <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item"><a href="#" class="page-link">01</a></li>
		                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
		                            <li class="page-item"><a href="#" class="page-link">03</a></li>
		                            <li class="page-item"><a href="#" class="page-link">04</a></li>
		                            <li class="page-item"><a href="#" class="page-link">09</a></li>
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        </ul>
		                    </nav>
                        </div>
                    </div>
                    {% include 'profile.html' %}
                </div>
            </div>
        </section>
<h1>다른 사람들은 어떤 답변을 했을까 ?.?</h1>



{% endblock %}

